/* Write your CSS here */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  height: 70px;
  border-width: 0 0 2px 2px;
  border-style: solid;
}

.navbar-light-horizontal-line {
  border-color: #dcdcdc;
}

.navbar-bg-color {
  background-color: #333333;
}

.website-logo-img-size {
  height: 75px;
  width: 75px;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  list-style-type: none;
}

.dark-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

.light-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.theme-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-btn {
  background-color: transparent;
  border-width: 0;
  outline: none;
  cursor: pointer;
}

.theme-img-size {
  height: 50px;
  width: 50px;
}
